body {
  background-color: gold;
  font-family: 'Oswald', sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  border-color: rgb(51, 51, 51);
}
